## 3. Add typoes to addresses and countries

In [88]:
import random # random typos
import numpy as np

# dictionary... for each letter list of letters
# nearby on the keyboard
nearbykeys = {
    'a': ['q','w','s','x','z'],
    'b': ['v','g','h','n'],
    'c': ['x','d','f','v'],
    'd': ['s','e','r','f','c','x'],
    'e': ['w','s','d','r'],
    'f': ['d','r','t','g','v','c'],
    'g': ['f','t','y','h','b','v'],
    'h': ['g','y','u','j','n','b'],
    'i': ['u','j','k','o'],
    'j': ['h','u','i','k','n','m'],
    'k': ['j','i','o','l','m'],
    'l': ['k','o','p'],
    'm': ['n','j','k','l'],
    'n': ['b','h','j','m'],
    'o': ['i','k','l','p'],
    'p': ['o','l'],
    'q': ['w','a','s'],
    'r': ['e','d','f','t'],
    's': ['w','e','d','x','z','a'],
    't': ['r','f','g','y'],
    'u': ['y','h','j','i'],
    'v': ['c','f','g','v','b'],
    'w': ['q','a','s','e'],
    'x': ['z','s','d','c'],
    'y': ['t','g','h','u'],
    'z': ['a','s','x'],
    ' ': ['c','v','b','n','m']
}

def insert_typos(message, typo_prob = 0.10, starting_char = 1):
    """ Introduce typos in a string
    
    Idea from:
    https://stackoverflow.com/questions/56908331/python-automatically-introduce-slight-word-typos-into-phrases
    """
    if pd.isnull(message):
        return message
    
    # convert the message to a list of characters
    message = list(str(message))

    # the number of characters that will be typos
    n_chars_to_flip = round(len(message) * typo_prob)
    # is a letter capitalized?
    capitalization = [False] * len(message)
    # make all characters lowercase & record uppercase
    for i in range(len(message)):
        capitalization[i] = message[i].isupper()
        message[i] = message[i].lower()

    # list of characters that will be flipped
    pos_to_flip = []
    for i in range(n_chars_to_flip):
        pos_to_flip.append(random.randint(starting_char, len(message) - 1))

    # insert typos
    for pos in pos_to_flip:
        # try-except in case of special characters
        try:
            typo_arrays = nearbykeys[message[pos]]
            message[pos] = random.choice(typo_arrays)
        except:
            break

    # reinsert capitalization
    for i in range(len(message)):
        if (capitalization[i]):
            message[i] = message[i].upper()

    # recombine the message into a string
    message = ''.join(message)
    
    return message

In [89]:
message = "The quick brown fox jumped over the big red dog 5678."

msg = insert_typos(message)

In [90]:
msg

'The quick brlwn fox jumped over rhe big red dog 5678.'

In [91]:
import pandas as pd

In [92]:
df = pd.read_csv('addresses_country_names.csv')

/miniconda3/envs/addresses/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [93]:
df

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH,country,updated_country
0,16.335280,56.661083,20A,KYLEGATAN,NaN,KALMAR,NaN,NaN,NaN,NaN,182651580a006306,se,SE
1,16.302295,56.785584,18,HARMONIVÄGEN,NaN,LÄCKEBY,NaN,NaN,NaN,NaN,7ad57521726586ed,se,SWE
2,16.247826,56.650060,74,RINKABYHOLMSVÄGEN,NaN,RINKABYHOLM,NaN,NaN,NaN,NaN,e100218963931e4e,se,SWE
3,16.426681,56.851624,504,NYTTORPS STUGOMRÅDE,NaN,RYSSBY,NaN,NaN,NaN,NaN,a4f25df89ff5ca1a,se,se
4,16.220183,56.647663,239,RINKABY,NaN,HOSSMO,NaN,NaN,NaN,NaN,0fe09676293cefe6,se,Sweden
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167995,1.536417,41.213584,S/N,DS DISEMINADO,NaN,NaN,NaN,NaN,43700,NaN,959fd64e3d345317,es,espana
167996,1.665074,41.328941,60,PL 4 CAL SALINAS,NaN,NaN,NaN,NaN,8730,NaN,47eaac7a3fcbbd0b,es,espana
167997,1.595196,41.206154,31,CL PALESTINA (SEGUR CALAFELL),NaN,NaN,NaN,NaN,43882,NaN,f2805f3607ff42f9,es,es
167998,2.010966,41.310302,18,AV PAU CASALS,NaN,NaN,NaN,NaN,8840,NaN,ac65950fd797a402,es,es
167999,2.051897,41.471866,85,AV MONTSERRAT ROIG,NaN,NaN,NaN,NaN,8195,NaN,e45bcc91abbc4a7a,es,Spain

In [94]:
df['street'] = df['STREET'].apply(insert_typos)

In [95]:
df['city'] = df['CITY'].apply(insert_typos)

In [96]:
df['unit'] = df['UNIT'].apply(insert_typos)

In [97]:
df['land'] = df['updated_country'].apply(insert_typos)

In [98]:
df['postcode'] = df['POSTCODE'].apply(insert_typos)

In [99]:
df['number'] = df['NUMBER'].apply(insert_typos)

In [100]:
df['district'] = df['DISTRICT'].apply(insert_typos)

In [101]:
df['region'] = df['REGION'].apply(insert_typos)

In [102]:
df.columns

Index(['LON', 'LAT', 'NUMBER', 'STREET', 'UNIT', 'CITY', 'DISTRICT', 'REGION',
       'POSTCODE', 'ID', 'HASH', 'country', 'updated_country', 'street',
       'city', 'unit', 'land', 'postcode', 'number', 'district', 'region'],
      dtype='object')

In [111]:
cols = ['country', 'land', 'number', 'street', 'city', 'unit', 'postcode', 'district', 'region']

In [112]:
sf = df[cols].copy()

In [113]:
sf

,country,land,number,street,city,unit,postcode,district,region
0,se,SE,20A,KYLEYATAN,KQLMAR,NaN,NaN,NaN,NaN
1,se,NaN,18,HARMONIVÄYEN,LÄCKEGY,NaN,NaN,NaN,NaN
2,se,SWE,74,RINKABYHOLLSVÄFEN,RINKABUHOLM,NaN,NaN,NaN,NaN
3,se,se,504,NYTTORPS STUHOLRÅDE,RYSXBY,NaN,NaN,NaN,NaN
4,se,Swexen,239,RUNKABY,HOSEMO,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
167995,es,espanx,S/N,DS DISEMINADK,NaN,NaN,43700.0,NaN,NaN
167996,es,espaja,60,PL 4 VALnSALINAS,NaN,NaN,8730.0,NaN,NaN
167997,es,es,31,CL PALEETINA (SSGUR CALAFSLL),NaN,NaN,43882.0,NaN,NaN
167998,es,es,18,AV PAU CAWALS,NaN,NaN,8840.0,NaN,NaN
167999,es,Spain,85,AV MONRSERRAT ROIG,NaN,NaN,8195.0,NaN,NaN

In [114]:
sf.to_csv('addresses_with_typos.csv', index=False)